@media only screen and (max-width: 767px) {
    
    /* Force table to not be like tables anymore */
	#items-table table, 
	#items-table thead, 
	#items-table tbody, 
	#items-table th, 
	#items-table td, 
	#items-table tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#items-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#items-table tbody td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30%; 
		white-space: normal;
		text-align:left;
	}
 
	#items-table tbody td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#items-table tbody td:before { content: attr(data-title); }
  
}