<div id="home-page" >
  
  <nav class="navbar navbar-inverse navbar-fixed-top" ng-include src="'js/app/core/templates/nav_primary.html'"></nav>  

  <div class="container">
    
    <div class="jumbotron">
      <h1>'Allo, 'Allo!</h1>
      <p class="lead"> Always a pleasure scaffolding your apps. </p>
      <p>
        <a class="btn btn-lg btn-success" href="#/items" >Splendid!<span class="glyphicon glyphicon-ok"></span></a>
      </p>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>        
      </div>
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
     </div>
    </div>    
    
  </div>

</div>


<!--
<h1>{{hello}}</h1>

<p color-red>sfsdfsdfsdfsdfsdfsdf</p>

<button class="btn btn-primary">hola</button>
<button class="btn btn-success">hola</button>
<button class="btn btn-info">hola</button>
<button class="btn btn-warning">hola</button>
<button class="btn btn-danger">hola</button>

<my-tests></my-tests>

<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>first name</th>
		<th>last name</th>
		<th>birth date</th>
		<th>balance</th>
		<th>email</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td>{{row.firstName}}</td>
		<td>{{row.lastName}}</td>
		<td>{{row.birthDate}}</td>
		<td>{{row.balance}}</td>
		<td>{{row.email}}</td>
	</tr>
	</tbody>
</table>
-->