<h1>{{hello}}</h1>

<p color-red>sfsdfsdfsdfsdfsdfsdf</p>

<button class="btn btn-primary">hola</button>
<button class="btn btn-success">hola</button>
<button class="btn btn-info">hola</button>
<button class="btn btn-warning">hola</button>
<button class="btn btn-danger">hola</button>

<my-tests></my-tests>

<table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>first name</th>
		<th>last name</th>
		<th>birth date</th>
		<th>balance</th>
		<th>email</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td>{{row.firstName}}</td>
		<td>{{row.lastName}}</td>
		<td>{{row.birthDate}}</td>
		<td>{{row.balance}}</td>
		<td>{{row.email}}</td>
	</tr>
	</tbody>
</table>