/* my tests */

.app-widgets-custom-my-tests {
  display: inline;
}

.app-widgets-custom-my-tests .my-flux {
  background-color: chocolate;
  display: flex;
}

.app-widgets-custom-my-tests > .popover > .popover-title {
  color: #333;
}

.app-widgets-custom-my-tests > .popover > .popover-content {
  color: #333;
}